<% provide(:title, 'About Us') %>

	<div id="content-inside" class="inside">
		<div id="main">				   
			<div class="region region-content">
				<div id="block-system-main" class="block block-system">
					<div class="content">
						<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">About</a></li>
								<li><a href="#tab2" data-toggle="tab">Founding Team</a></li>
								<li><a href="#tab3" data-toggle="tab">How we are different</a></li>
								<li><a href="#tab4" data-toggle="tab">Next Steps</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<p>We are a start up that empowers people to list their properties while they are not present and effortless find fisitors or sort time subleasers</p>
								</div>
								<div class="tab-pane" id="tab2">
									<p><h4>Dimitris Akimaru</h4>
										Industrial and Operations Engineerind with minor in Combuter Science. University of Michigan</p>
										<p><h4>Giannis Papazoglou</h4>
											Mechanical Engineer and Material Science and Engineer. Research Assistant in the University of Michigan </p>
										</div>
										<div class="tab-pane" id="tab3">
											<p><ul>
												<li>Hosts don't need to interact with visitors and visitors with hosts
													<li>You don't have to take care of cleaning because we do!
														<li>Always have the basic amenities- towels, toothbrush, toothpaste, sampoo etc.
															<li>One-click booking ! You see it, you like it, you book it!
																<li>You are not sharing the house with anyone, not the owner, no other visitors
																	<li>Capability of flexible check in and check out 
																		<li>Peace of mind ! You leave your home clean, you find it cleaner and with some money to spare
																			<li>Better customer support with face-to-face interaction with our representatives in every city!
																				<li>Full refund on your cancelation- up to 48h before check in
																					<li>Our representative can find you and give you the keys!
																						<li>Our representative will chck the validity of the apartment so you are sure that you rent what see!
																						</ul></p>
																					</div>
																					<div class="tab-pane" id="tab4">
																						<p><ul>
																							<li>Beta testing summer 2013<br>
																								We will start the beta testing-first tests- in Ann Arbor MI. Our hosts will be University of michigan students that go away for the summer and theid apartments stay empty. Our visitors will be upcoming students of University of Michigan or generally Ann Arbor visitors.<br>
																								<li>After the beta we will analyse the data we collected and adapt our business model to the real life conditions<br>
																									<li>Meanwile we will keep improving our website and servises<br>
																										<li>Beta testing two Christmas 2013<br>
																											We are going to move in a bigger city or college town alongside with Ann Arbor. Again our hosts will be mostly university students that went away for Christmas vacations. The visitors will again be the visitors of the city for that period of time
																											<li> Our Final goal is to conquare the WORLD muahahahahahahah!!
																											</ul></p>
																										</div>
																									</div>
																								</div>


																							</div>
																						</div>	
																					</div>
																				</div>
																			</div>