<% 
meta :title => "Estia",
:description => "Estia is a web-platform that enables people to list their properties during their absence and effortlessly find visitors who are willing to occupy it.",
:keywords => %w(estia homepage estiastay)
%>

<div class="span9 center">
	<h2 style="margin-bottom:-20px; text-align: center">Welcome to Estia</h2>
	<h3 style="margin-bottom:-20px; text-align: center">Always at Home</h3>
	<div class="row" style="padding-top: 20px">

		<%= render 'search_property'%>



		<%= render 'list_property_form'%>	

	</div>
</div>