<%
meta :title => "Estia",
:description => "Estia is a web-platform that enables people to list their properties during their absence and effortlessly find visitors who are willing to occupy it.",
:keywords => %w(estia homepage estiastay)
%>

<div class="span8 center">
	<h1>Welcome to Estia</h1>
	<%= render 'carousel'%>
</div>