<% provide(:title, 'How It Works') %>

<div id="content">
	<div id="content-inside" class="inside">
		<div id="main">				   
			<div class="region region-content">
				<div id="block-system-main" class="block block-system">
					<div class="content">
						<!--Tabs-->
						<div class="tabbable"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">Owner</a></li>
								<li><a href="#tab2" data-toggle="tab">Traveler</a></li>
							</ul>
							<div class="tab-content">
								<!-- First tab-->
								<%= render "static_pages/partials/how_it_works/owner"%>
								<!-- Second tab-->
								<%= render "static_pages/partials/how_it_works/traveler"%>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div><!-- EOF: #main --><!-- EOF: #sidebar -->
	</div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->
