<% provide(:title, 'How It Works') %>

<div id="content">
    <div id="content-inside" class="inside">
        <div id="main">				   
            <div class="region region-content">
				<div id="block-system-main" class="block block-system">
				<div class="content">
					
<!--Tabs-->
					
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">Owner</a></li>
					<li><a href="#tab2" data-toggle="tab">Traveler</a></li>
					</ul>
						<div class="tab-content">
						
<!-- First tab-->
						
							<div class="tab-pane active" id="tab1">
								<p><strong>1) List</strong></p>
								<p>Creating a listing in Estia is free of charge. You only have to click on ‘list my place’ button on the top of the screen and continue completing the form with your place’s details. Those details will only become visible when you complete the form and decide to make your listin public.</p><br><br>
							
<!-- exmand button 1 -->									
									<div class="accordion" id="accordion1">
										<div class="accordion-group">
											<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
											More/Less
											</a><br>
											</div>
											<div id="collapseTwo" class="accordion-body collapse">
												<div class="accordion-inner">
	  
												<p><strong>Pricing</strong><br>
	  You have the power to decide how much we are going to charge for your place. Have in mind thought that expensive listings can stay unrented.  It is better if you do a market search to see how much other places like yours are listed and try to be competitive.</p><br>
												<p><strong>Title, description, house rules and amenities</strong><br>
	  Create your title and description carefully! A great title and description attract more people to your listing so your potential to get your place rented is greater. The amenities section can also be a huge advantage for your place. Amenities such as internet and air-condition are oasis for some visitors.
Finally we do understand that this is your personal space so you can add your rules or ‘House Rules’, as we call them. You can have rooms that you don’t want people to walk with shoes or you don’t want people at all in there. Maybe you don’t want smokers. Just write it down!
</p><br>

												<p><strong>Photos</strong><br>
		Well a great photo is the first thing that catches the eye of the visitor when he searches for a place to stay. It is critical for the success of your posting to have a very good photo. You can have up to five pictures so make them worth!
 We know that not all of you are professional photographers but we also know that if you try you can do miracles and we help you providing these articles on how photograph interiors 
<a href="http://homes.yahoo.com/news/photograph-interiors-professional-104802549.html"> like a pro! </a></p><br>
												</div>
											</div>
										</div>
									</div>
	<!--end of expand 1-->									
										<br><br><p><strong>2) Forget about it!</strong></p>
										<p>Our representative will contact you. He will come for the keys, answer any questions you might have and help you uploading pictures for your listing.</p><br><br>
	<!--expand button 2-->						
							<div class="accordion" id="accordion2">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
													More/Less
												</a><br>
											</div>
											<div id="collapseThree" class="accordion-body collapse">
												<div class="accordion-inner">
	  
												<p><strong>Contacting</strong><br>
After your listing is confirmed a representative will contact you to arrange a meeting time. You can come at our office or we can come at your place!</p><br>
												<p><strong>Keys</strong><br>
You don’t need to worry about how the visitors are getting the keys or how they are coming and if they are going to find the place. You can spend your free time however you like! Go for vacation, visit your friend out of town or you might have listed your second or vocational house. You don’t need to worry about anything!</p><br>
												<p><strong>Cleaning</strong><br>
We don’t expect any cleaning from you! Just leave your place in a decent condition and our professional cleaning crew will clean it before each guest arrives.
Not only this, we will clean your house once again after the last guest leaves so you will actually find it cleaner than you left it and with extra cash generated from your absence! Isn’t it great?
</p>
												</div>
											</div>
										</div>
							</div>
	<!-- end of expand button 2-->						
							</div>
	<!-- end of tab 1-->
	
	<!-- Second tab-->
							
							<div class="tab-pane" id="tab2">
								<p><strong>1) Search</strong></p>
								<p>Find the best place for you from our available listings. It is very easy; you only have to enter your destination and the dates you want.</p><br><br>
	 
								<br><br><p><strong>2) Book it!</strong></p>
								<p>You can book the place you dreamed as soon as you find it!</p><br><br>
								
	<!--Expand button 3-->							
								<div class="accordion" id="accordion3">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
													More/Less
												</a><br>
											</div>
											<div id="collapseFour" class="accordion-body collapse">
												<div class="accordion-inner">
								<p><strong>No need to contact the owner</strong><br>
Three easy steps. You see it -> You like it -> You book it! No waiting for acceptance, no chatting and no delays!</p><br>
								<p><strong>Payment</strong><br>
After you click Book it! you will asked for your billing information. We give the choice of two payment methods. You can either pay via PayPal or via GooglePay.</p><br>
								<p><strong>Contact with our Representative</strong><br>
After successful payment our representative will contact you for your arrival information and to schedule meeting time for your apartment keys. No needs to worry our representatives have flexible time!
</p><br><br>
											</div>
											</div>
										</div>
								</div>
	<!-- end of expand button 3-->
	
	
								<p><strong>3) Arrive</strong></p>
								<p>It is time to arrive at your destination and you must be excited about it, we sure are! Here are your next steps.</p><br><br>
								
								<!--expand button 4-->
								<div class="accordion" id="accordion4">
										<div class="accordion-group">
											<div class="accordion-heading">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive">
													More/Less
												</a><br>
											</div>
											<div id="collapseFive" class="accordion-body collapse">
												<div class="accordion-inner">
												
								<p><strong>You are here</strong><br>
You arrived at your destination, if it is for vacation or business trip no need to worry about time. Our representatives have flexible times and can meet at your convenience!</p><br>
								<p><strong>Get your keys</strong><br>
We will find you at the place you rented or you can stop by our office. Everything is pre-arranged so there are no delays!</p><br>
								<p><strong>In the house</strong><br>
No need to worry about the cleanliness of the house, because we did! We had our professional cleaning crew to clean it, we provide you with fresh towels, bead sheets, even shampoo and toothpaste so you feel like home and concentrate on other things.
</p><br>
								<p><strong>Rate and review</strong><br>
After your stay is over you can rate the place, its position in the city if it was as promised etc. You can say a few good words about us too!
</p>
							</div>
											</div>
										</div>
								</div>
	<!--end ox expand button 4-->							
							</div>
<!-- end of tab 2-->							
						</div>


		
					</div>
		</div>	
</div>
			</div><!-- EOF: #main --><!-- EOF: #sidebar -->
    </div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->
