<% provide(:title, 'Jobs') %>
<div id="content">
	<div id="content-inside" class="inside">
		<div id="main">				   
			<h2>Jobs @ Estia </h2> 
			<p>We are currently looking to add a Developer in our team.</p>
			<p>If you are interested please contact us at <a href="mailto:support @ estiastay.com", target="blank">support@estiastay.com</a> or visit our <%= link_to "contact us", controller: "messages", action: "new" %> page.
			</p>
		</div><!-- EOF: #main --><!-- EOF: #sidebar -->
	</div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->
