<% provide(:title, 'News') %>
<div id="content">
	<div id="content-inside" class="inside">
		<div id="main">				   
			<div class="row">
				<div class="span4">
					<div class="accordion" id="accordion2">
						<!-- News 1-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
									03/08/2013 Business Idea
								</a>
							</div>
							<div id="collapseOne" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>This is the day of the inception; we immediately started working on the business and brainstorming. </p>
								</div>
							</div>
						</div>

						<!-- News 2-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
									03/11/2013 Business Model
								</a>
							</div>
							<div id="collapseTwo" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Completed the first round of iteration through business model </p>
								</div>
							</div>
						</div>

						<!-- News 3-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
									03/12/2013 Business model
								</a>
							</div>
							<div id="collapseThree" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Completed business model iterations and cost-revenue analysis</p>
								</div>
							</div>
						</div>

						<!-- News 4-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
									03/14/2013 Pitch Deck
								</a>
							</div>
							<div id="collapseFour" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>Working on pitch deck slides all week and we finally have something good</p>
								</div>
							</div>
						</div>

						<!--News 5-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
									3/23-23/2013 First Hacathon!
								</a>
							</div>
							<div id="collapseFive" class="accordion-body collapse">
								<div class="accordion-inner">
									<ul><li>We have a final name!</li>
										<li>We have a final logo!</li>
										<li>"Always at home!" is our new one-liner addition statement</li>
										<li>A prototype version of the website is ready</li>
									</ul>
								</div>
							</div>
						</div>

						<!-- News 6-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
									04/03/2013 Domain
								</a>
							</div>
							<div id="collapseSix" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We have a domain and custom emails! You can contact us at support@estiastay.com </p>
								</div>
							</div>
						</div>

						<!-- News 7-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
									04/06/2013 Live!
								</a>
							</div>
							<div id="collapseSeven" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We are now live on the web! And we keep fighting with bugs until we go public</p>
								</div>
							</div>
						</div>

						<!-- News 8-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
									04/13/2013 Startup weekend Chicago
								</a>
							</div>
							<div id="collapseEight" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We have just registered for Startup weekend in Chicago at 19th of April. See you there guys</p>
								</div>
							</div>
						</div>

						<!-- FAQ 9-->
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
									04/15/2013 Pitch Competition
								</a>
							</div>
							<div id="collapseNine" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We are going to an entrepreneur meet-up too!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="span4 offset1">		
					<a class="twitter-timeline"  href="https://twitter.com/estiastay"  data-widget-id="323842484948041728">Tweets by @estiastay</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>		
		</div><!-- EOF: #main --><!-- EOF: #sidebar -->
	</div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->
