<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Optimal Design Laboratory at the University of Michigan - Ann Arbor">
	<meta name="author" content="Optimal Design Laboratory">
	<meta name="keywords" content="Optimal Design Lab, Optimal Design Engineering, Optimization">
	<title>Estia Policies </title>
	
	<!-- CSS -->
	<link href="static/stylepyp.css" rel="stylesheet">
	<link href="static/colorspyp.css" rel="stylesheet">
<style type="text/css">
<!--
#apDiv1 {
	position:absolute;
	left:26px;
	top:1016px;
	width:906px;
	height:371px;
	z-index:101;
}
#content #content-inside #main .region.region-content #block-system-main .content #first-time p {
	text-align: justify;
}
-->
</style>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>

<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>


<div id="header">
    <div id="header-inside">  
        <div id="header-inside-left">
			<a href="pypHome.html" title="Home"><span id="slogantitle">Estia </span></a>
			<div class="clearfix"><a href="http://ode.engin.umich.edu/"><span id="slogan">a subleasing company!!!</span></a><span id="slogan"></span>
			</div>   
        </div>
		<!-- we can put float right stuff here if we want later -->
        <div id="header-inside-right">
        </div>
  </div>
</div>

<div id="header-menu">
	<div id="header-menu-inside">
		<ul class="menu"><li class="leaf"><a href="index.html" class="active-trail active">Policies</a></li>
			<li class="leaf active-trail"><a href="pypShortbio.html" >Short Bio</a></li>
			<li class="leaf"><a href="pypteaching.html">Teaching</a></li>
			<li class="leaf"><a href="pypResearch.html">Research</a></li>
			<li class="leaf"><a href="pypPublications.html">Publications</a></li>
			
		</ul>
	</div>
</div>

<!-- Content. -->

<div id="content">
    <div id="content-inside" class="inside">
        <div id="main">				   
            <div class="region region-content">
				<div id="block-system-main" class="block block-system">
				<div class="content">
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1" data-toggle="tab">Website Terms of Use</a></li>
					<li><a href="#tab2" data-toggle="tab">Privacy Policy</a></li>
					<li><a href="#tab3" data-toggle="tab">Estia Rules</a></li>
					<li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Agreements
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
  <li><a tabindex="-1" href="#tab4a" data-toggle="tab">Booking Service Agreement</a></li>
  <li><a tabindex="-1" href="#tab4b" data-toggle="tab">Guest Service Agreement</a></li>
  <li><a tabindex="-1" href="#tab4c" data-toggle="tab">Accomodation Agreement</a></li>
  <li class="divider"></li>
  <li><a tabindex="-1" href="#tab4d" data-toggle="tab">Cancellation Policy</a></li>
</ul>

  </li>

					</ul>
						<div class="tab-content">
						<div class="tab-pane active" id="tab1">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	
						</div>
							
							
						<div class="tab-pane" id="tab2">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
						
						
						<div class="tab-pane" id="tab3">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
						
						
						<div class="tab-pane" id="tab4a">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						1111111111111111111111111111111111<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>v<br>
						</div>

						
						<div class="tab-pane" id="tab4b">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						222222222222222222222222222222222222222222<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
						

						<div class="tab-pane" id="tab4c">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						3333333333333333333333333333333333333333333<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
						

						<div class="tab-pane" id="tab4d">
						<!-- Placeholder, we will add the terms and conditions when are final-->
						444444444444444444444444444444<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
						</div>
						
						
						</div>
						</div>


		
			  </div>
		</div>	
</div>
			</div><!-- EOF: #main --><!-- EOF: #sidebar -->
    </div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->

<!-- Footer -->    
<div id="footer">
    <div id="footer-inside">
        <div class="footer-area first">
		</div>
        <div class="footer-area second">
        </div>
        <div class="footer-area third">
		</div>
    </div>
</div>

<!-- Footer Bottom -->    
<div id="footer-bottom">
    <div id="footer-bottom-inside">
    	<div id="footer-bottom-left">
			<div class="region region-footer">
				<div id="block-system-powered-by" class="block block-system">
					<div class="content">
						<span>Copyright &copy; <a href="http://ode.engin.umich.edu/">University of Michigan - Optimal Design Laboratory</a></span>
					</div>
				</div>
			</div>
		</div>
        <div id="footer-bottom-right">
        </div>
    </div>
</div>


</body>
</html>