<div id="content">
	<div id="content-inside" class="inside">
		<div id="main">				   
			<div class="region region-content">
				<div id="block-system-main" class="block block-system">
					<div class="content">
						<div class="tabbable"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">Website Terms of Use</a></li>
								<li><a href="#tab2" data-toggle="tab">Privacy Policy</a></li>
								<li><a href="#tab3" data-toggle="tab">Estia Rules</a></li>
								<li class="dropdown">
									<a class="dropdown-toggle"
									data-toggle="dropdown"
									href="#">
									Agreements
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
									<li><a tabindex="-1" href="#tab4a" data-toggle="tab">Booking Service Agreement</a></li>
									<li><a tabindex="-1" href="#tab4b" data-toggle="tab">Guest Service Agreement</a></li>
									<li><a tabindex="-1" href="#tab4c" data-toggle="tab">Accomodation Agreement</a></li>
									<li class="divider"></li>
									<li><a tabindex="-1" href="#tab4d" data-toggle="tab">Cancellation Policy</a></li>
								</ul>

							</li>

						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab1">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


							<div class="tab-pane" id="tab2">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


							<div class="tab-pane" id="tab3">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


							<div class="tab-pane" id="tab4a">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
							</div>


							<div class="tab-pane" id="tab4b">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


							<div class="tab-pane" id="tab4c">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


							<div class="tab-pane" id="tab4d">
								<!-- Placeholder, we will add the terms and conditions when are final-->
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>


						</div>
					</div>



				</div>
			</div>	
		</div>
	</div><!-- EOF: #main --><!-- EOF: #sidebar -->
</div><!-- EOF: #content-inside -->
</div>