<!--White 2--> 
<div class="well">

	<h2 class="text-center">How we can help</h2><br>
	<p class="text-center">Finding places, renting your places and using our services is quick and off course convenient </p>

	<DIV class="row-fluid">
		<ul class="thumbnails">
			<!--pic 1-->
			<li class="span3  offset1 " >
				<div class="thumbnail">
					<%= image_tag("homepage/Property1.jpg", alt: "Property1")%>
					<h3 class="text-center">Find a Place</h3>
					<p>Browse our listings and find the best for you. Learn more</p>
				</div>
			</li>

			<!--pic 2-->
			<li class="span3 ">
				<div class="thumbnail">
					<%= image_tag("homepage/post_my_place.png", alt: "list place", style: "max-height: 200px;")%>
					<h3 class="text-center">Rent Your Place</h3>
					<p ">You can rent your place in any city we operate. Just choose your price, availability and left the rest on us. Learn more"</p>
				</div>
			</li>
			<!--pic 3-->
			<li class="span3">
				<div class="thumbnail">
					<%= image_tag("homepage/Property1.jpg", alt: "Property1")%>
					<h3 class="text-center">Use Our Services</h3>
					<p>Even if you don't have a listing with us you can still use the services we provide. We just need to know where and when! Learn more</p>
				</div>
			</li>

		</ul>
	</div>
</div>
</div>

<!---end of gray 2-->