<div class="well">
	<h2 class="text-center">Attention UofM students!</h2><br1>
	<div class="row">
		<div class="span5 offset1">
			<h4>Finals are almost over. List your apartment and find sublets for the summer.<br><br>
				Or if you are looking for sublets for the summer, browse through peoples listing.<br><br> 
				We just started so check back frequently.
				It's fast and easy. And best of all, it's free!
			</h4><br>
			<%= link_to "Find Ann Arbor Sublets", signup_path, class: "btn btn-warning btn-large" %>
		</div>
		<div class="offset1 span3">
				<%= image_tag("homepage/post_my_place.png", alt: "Ann Arbor apartments", style: "max-height: 200px;")%> 
				<%= link_to "List my place!", signup_path, class: "btn btn-success btn-large" %>
		</div>
	</div>
</div>