<div class="home_sections"> 
	<h1 class="text-center">Find a Place to Stay</h1><br>

	<div class="row">
		<b>
			
			<div class="span3 offset1">
					<%= image_tag("homepage/Property1.jpg", alt: "Property1")%>
					<h5 class="text-center">411 Lofts</h5>
			</div>

			<div class="span3">
					<%= image_tag("homepage/Property2.jpg", alt: "Property2")%>
					<h5 class="text-center">Zaragon West</h5>
			</div>
			
			<div class="span3">
					<%= image_tag("homepage/Property3.jpg", alt: "Property3")%>
					<h5 class="text-center">Landmark</h5>
			</div>
			
		</b>
	</div><br>

	<%= link_to "Browse Listings", signup_path, class: "btn btn-large btn-info offset4" %>

</div>