<div class="well" id="gray"> 
	<h1 class="text-center">Find a Place to Stay</h1><br>

	<div class="row">
		<b>
			
			<div class="span3 offset1">
					<%= image_tag("homepage/Property1.jpg", alt: "Property1")%>
					<h5 class="text-center">Apartment 1</h5>
			</div>

			<div class="span3">
					<%= image_tag("homepage/Property2.jpg", alt: "Property2")%>
					<h5 class="text-center">Apartment 2</h5>
			</div>
			
			<div class="span3">
					<%= image_tag("homepage/Property3.jpg", alt: "Property3")%>
					<h5 class="text-center">Apartment 3</h5>
			</div>
			
		</b>
	</div><br>
	
	<button class="btn btn-large btn-info offset4">Browse listings</button>
	
</div>