<div class="well" id="green">
	<h2 class="text-center">Use Only Services</h2><br>
	<div class="row">
		<div class="span5 offset1">
			<%= image_tag("homepage/cleaner.png", alt: "cleaner", style: "max-height: 150px;")%>
			<%= image_tag("homepage/key_dropoff.png", alt: "cleaner", style: "max-height: 175px;")%>
			<%= link_to "Choose Services", signup_path, class: "btn btn-success btn-large offset1"%>
		</div>
		<div class="text-left span5">
			<h4>We know that cleaning up can be a chore. We also know the pain to find someone to manage key drop-offs to friends or visitors.<br><br> 
					That's why we offer these great services, even if you are using another home-sharing platform.<br><br>
					Just tell us when your expect guests, and we will do all the work for you!
			</h4>
		</div>
	</div>
</div>