<div class="#" style="padding-top: 1em;">	

	<select class="span4">
		<option>Select Available Location</option>
		<option>Ann Arbor</option>
		<option>Chicago</option>
		<option>San Francisco</option>
		<option>New York</option>
	</select>

	<form class="form-search span5">
		<input type="text" class="search-query" placeholder="Search">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>
	
</div>
