<div class="center">	

	<select>
		<option>Select Available Location</option>
		<option>Ann Arbor</option>
		<option>Chicago</option>
		<option>San Francisco</option>
		<option>New York</option>
	</select>

	<button class="btn btn-primary">Search</button>
	
</div>
