<div class="tab-pane" id="tab2">
	<p><strong>1) Search</strong></p>
	<p>Find the best place for you from our available listings. It is very easy; you only have to enter your destination and the dates you want.</p>

	<br><p><strong>2) Book it!</strong></p>
	<p>You can book the place you dreamed as soon as you find it!</p><br>

	<!--Expand button 3-->							
	<div class="accordion" id="accordion3">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFour">
					More/Less
				</a>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">
					<p><strong>No need to contact the owner</strong><br>
						Three easy steps. You see it -> You like it -> You book it! No waiting for acceptance, no chatting and no delays!
					</p><br>
					<p><strong>Payment</strong><br>
						After you click "Book it!" button you will asked for your billing information. We give the choice of two payment methods. You can either pay via PayPal or via GooglePay.
					</p><br>
					<p><strong>Contact with our Representative</strong><br>
						After successful payment our representative will contact you for your arrival information and to schedule meeting time for your apartment keys. No needs to worry our representatives have flexible time!
					</p><br>
				</div>
			</div>
		</div>
	</div>
	<!-- end of expand button 3-->

	<br><p><strong>3) Arrive</strong></p>
	<p>It is time to arrive at your destination and you must be excited about it, we sure are! Here are your next steps.</p><br>

	<!--expand button 4-->
	<div class="accordion" id="accordion4">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapseFive">
					More/Less
				</a>
			</div>
			<div id="collapseFive" class="accordion-body collapse">
				<div class="accordion-inner">

					<p><strong>You are here</strong><br>
						You arrived at your destination, if it is for vacation or business trip no need to worry about time. Our representatives have flexible times and can meet at your convenience!
					</p><br>
					<p><strong>Get your keys</strong><br>
						We will find you at the place you rented or you can stop by our office. Everything is pre-arranged so there are no delays!
					</p><br>
					<p><strong>In the house</strong><br>
						No need to worry about the cleanliness of the house, because we did! We had our professional cleaning crew to clean it, we provide you with fresh towels, bead sheets, even shampoo and toothpaste so you feel like home and concentrate on other things.
					</p><br>
					<p><strong>Rate and review</strong><br>
						After your stay is over you can rate the place, its position in the city if it was as promised etc. You can say a few good words about us too!
					</p>
				</div>
			</div>
		</div>
	</div>
	<!--end ox expand button 4-->							
</div>
<!-- end of tab 2-->