<section>
	<% if @user.avatar_file_name.nil? %>	
		<%= link_to image_tag("default_avatar.png", size: '150x150'), edit_user_path %>
	<% else %>
		<%= image_tag @user.avatar, size: '150x150' %>
	<%end%>
</section>