<% provide(:title, @user.first_name + " " + @user.last_name) %>
<div class="row-fluid">
	<div class="span12">
		<div class="span3">

			<div class="well">
				<%= render 'avatar' %>
				<h5><%= @user.first_name + " " + @user.last_name%></h5>	
			</div>
			<div class="well">
				<h5><%= @user.email%></h5>
			</div>
		</div>

		<%= render 'users/partials/user_navigation'%>
	</div>
</div>
