<%= image_tag("estia_logo.png", alt: "estia_logo", size: "150x100") %><br>
<h2>About Estia</h2><br>
<p>We are a start-up web-platform that revolutionize the way people book their accommodation and sublease their places!</p>
<p>We empower people to list their properties while they are not present and effortless find visitors or sort time subleasers</p><br>
<h2>A little bit of history</h2><br>
<p>Estia (or Hestia, in Greek Εστία) is an ancient Greek goddess, daughter of Chronus and Rhea. She is the goddess of heart, architecture and the right of the family.</p>
<p>Her name means "home and hearth", the household, and it's inhabitants.</p><br>
<p>If you want to learn more about the history of our name, you can visit <a href="http://en.wikipedia.org/wiki/Hestia">Estia's Wikipedia page. </a></p>
