<p><ul>
	<li><h4>Hosts don't need to interact with visitors and visitors with hosts</h4></li>
	<li><h4>You don't have to take care of cleaning because we do!</h4></li>
	<li><h4>Always have the basic amenities- towels, toothbrush, toothpaste, shampoo etc.</h4></li>
	<li><h4>One-click booking ! You see it, you like it, you book it!</h4></li>
	<li><h4>You are not sharing the house with anyone, not the owner, no other visitors</h4></li>
	<li><h4>Capability of flexible check in and check out </h4></li>
	<li><h4>Peace of mind ! You leave your home clean, you find it cleaner and with some money to spare</h4></li>
	<li><h4>Better customer support with face-to-face interaction with our representatives in every city!</h4></li>
	<li><h4>Full refund on your cancelation- up to 48h before check in</h4></li>
	<li><h4>Our representative can find you and give you the keys!</h4></li>
	<li><h4>Our representative will check the validity of the apartment so you are sure that you get what you promised!</h4></li>
</ul></p>