<div class="accordion" id="accordion2">
	<!-- FAQ 1-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				What is Estia?
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Estia is a website that empowers people that have a spare place to seamlessly sublet it to people who are looking for a place to stay.</p>
				<p>Guests have a unique experience as they live in actual local houses and interact better with the culture of their destination.</p>
				<p>Hosts can effortlessly showcase their place in our website and visitors can one-click book it with no risks.</p>
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 2-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				How do I host in Estia?
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<h4>Create an account</h4> It very easy to create an account it takes only 5 minutes
				<h4>List your place</h4>Click the List Your Space button to list your space, set your address, and upload photos. Accurately describe your space and select the appropriate amenities to give potential guests a good idea of what your listing has to offer. Don’t forget to set your calendar availability.
				<h4>Leave the rest to us</h4>After creating an account and a post you can relax! We are taking over from now on.
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 3-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Who can host in Estia?
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Almost anyone can host at Estia! It is free to create an account and post your place.</p>
				<p>The only limitation is that you must not be at the place when the visitor comes. You can list your place when you are away, vocational places, a second apartment, some apartments that haven’t been rented out or everything else you have in mind. We will take after that and you don’t have to do a thing!</p>
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 4-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				How much does it cost to host in Estia?
			</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>Creating an account and Listing your place at Estia is free! You can only make money without having to do anything; you are actually earning money by not being at your place!</p>
				<p>While creating an account and listing your place in Estia is absolutely free, we do collect a cleaning fee from you when your renting period is over. For example if you are away from home for 30 days and you have listed it for $100/ night and we have guests for 10 nights we are going to charge you a one-time (per renting period) fee. So you will get $100/night * 10nights-$20cleaning fee=$980. If your place is not rented any night of your renting period, no fees will apply.</p>
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 5-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				How do I find a place in Estia?
			</a>
		</div>
		<div id="collapseFive" class="accordion-body collapse">
			<div class="accordion-inner">
				<h4>Create an account</h4> You don’t need to have an account to surf our listing but you will need to have a complete account in order to book an accommodation
				<h4>Find a place</h4> Search between our listings and find the best match for you
				<h4>Book it!</h4>Just click on “Book it!” button and you are done! No waiting for confirmation, no chatting no uncertainty.
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 6-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
				How do I book it?
			</a>
		</div>
		<div id="collapseSix" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>That’s easy, just click on “Book it!” button, pay and you are all set. You don’t have to wait for confirmation, chat or afraid to be left without a place, you have it!</p>
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 7-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
				How and when do I pay?
			</a>
		</div>
		<div id="collapseSeven" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>In Estia we have three easy steps 1. Find it! 2. Book it! 3. Pay it! </p>
				<p>You pay for you accommodation as soon as you find the best match for you and decide to book it. You have two payment choices; you can pay via PayPal or via Google Pay.</p>
				<p>You can learn more on how it works webpage and sign up now! </p>
			</div>
		</div>
	</div>

	<!-- FAQ 8-->
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
				What legal regulatory issues should I consider before hosting on Estia?
			</a>
		</div>
		<div id="collapseEight" class="accordion-body collapse">
			<div class="accordion-inner">
				<p>When deciding whether to become an Estia host, it's important for you to understand how the laws work in your city.</p>
				<p>Some cities have laws that restrict your ability to host paying guests for short periods. These laws are often part of a city's zoning or administrative codes. In many cities, you must register, get a permit, or obtain a license before you list your property or accept guests. Certain types of short-term bookings may be prohibited altogether. Local governments vary greatly in how they enforce these laws. Penalties may include fines or other enforcement.</p>
				<p>These rules can be confusing. Often, even city administrators find it tough to explain their local laws. We are working with governments around the world to clarify these rules so that everyone has a clear understanding of what the laws are. In the meantime, please review your local laws before listing your space on Estia. By accepting our Terms of Service and activating a listing, you certify that you will follow your local laws and regulations.</p>
			</div>
		</div>
	</div>
</div>