<!--	Dimitri Akimaru -->
<h4>Dimitri Akimaru (Co-Founder)</h4>
<%= image_tag("dimitri.jpg", alt: "dimitris_profile", size:"158x200") %>
<br>
<i>Industrial and Operations Engineer with minor in Computer Science. University of Michigan</i>
<p>Ever since I was a child I wanted to build things that are not only useful for myself, but for other people as well. Now that I am studying Industrial Engineering along with Computer Science at the University of Michigan, I am utilizing the things I am taught in classes and try to apply them in real life. How do I do that? Well, by trying to start up something myself. I strongly believe that it is never too early to get exposed to entrepreneurship and understanding what it means to build your own company. Estia is my 4th startup, and I am aiming to make it a HUGE success. Please support me and my team create an amazing service for our users.<br>
<p>Contact info: <a href="mailto:dimitri@estiastay.com" target="blank">dimitri@estiastay.com</a></p>

<hr>

<!--	Giannis Papazoglou -->
<h4>Giannis Papazoglou (Co-Founder)</h4>
<%= image_tag("giannis.jpg", alt: "giannis_profile", size:"158x200")%>
<br>
<i>Mechanical Engineer and Material Science and Engineer. Research Assistant in the University of Michigan </i>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Contact info: <a href="mailto:giannis@estiastay.com" target="blank">giannis@estiastay.com</a></p>
