<h4>Beta testing-summer 2013</h4>
	We will start the beta testing-first tests- in Ann Arbor MI. Our hosts will be University of Michigan students that go away for the summer and their apartments are unoccupied. Our visitors will be upcoming students of University of Michigan or generally Ann Arbor visitors.	
	<h4><br>After the beta we will analyze the data we collected and adapt our business model to the real life conditions</h4>
	<h4><br>Meanwhile we will keep improving our website and services</h4>
	<h4>Beta testing two-Christmas 2013</h4>
	We are going to move in a bigger city or college town alongside with Ann Arbor. Again our hosts will be mostly university students that went away for Christmas vacations. The visitors will again be the visitors of the city for that period of time
	<h4><br>Next phase includes expanding in more U.S. cities and States and European countries!</h4>