@import "bootstrap";

/* universal */

html, body {
	min-width:1000px;
	height:100%; /*needed because otherwise the footer will not work properly. If you just leave out, will not work for safari.*/
	
	/*
	background-repeat: repeat;
	background-image:url('header/body_texture.jpg');
	background-size: 10% auto;
	*/
}

.wrapper {
	background-color:#F5F5F5;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0px auto -100px auto; /* same as the footer */
}

.push {
	height: 150px; /* pushes footer so that it does not overlap with content */
}

/* header */
#logo {
	a {
		padding: 0px;
	}
}

.header_logo {
	max-width:120px;
	max-height:70px;
}

.nav-button{
	font-weight: bold;
	margin-left: 5px;
}

#nav ul {
	display: inline-block;
	list-style-type: none;
}

/* this is for body and navbar not to do the original resizing below 767px, which messed up the format when shrinking window */

body {
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
	margin-left: 0px;
	margin-right: 0px;
}

/* navbar-inner */
.navbar-inner {
	padding: 0 50px 0 50px;
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #12a5f4);
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #12a5f4);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#12a5f4), to(#F5F5F5));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #12a5f4);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #12a5f4);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #12a5f4);
	/* IE6-9 */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#12a5f4 ', endColorstr='#F5F5F5');

	background-repeat: repeat-x;
	background-image:url('header/header_texture.jpg');
	background-size: 300% 110%;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */	
}

/* body specific formatting */

.home_sections{
	border-bottom: 2px dotted red;
	padding: 20px;
}

#gray {
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #F0F8FF  0%, #C0C0C0  100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F0F8FF  0%, #C0C0C0  100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F0F8FF  0%, #C0C0C0  100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F8FF ), color-stop(1, #C0C0C0 ));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F0F8FF  0%, #C0C0C0  100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #F0F8FF  0%, #C0C0C0  100%);
	/* IE6-9 */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F8FF', endColorstr='#C0C0C0'); 
}

#green {
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #F0F8FF  0%, #90EE90  100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #F0F8FF  0%, #90EE90  100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top, #F0F8FF  0%, #90EE90  100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F8FF ), color-stop(1, #90EE90 ));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #F0F8FF  0%, #90EE90  100%);
	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #F0F8FF  0%, #90EE90  100%);
	/* IE6-9 */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F8FF', endColorstr='#F0F8FF'); 
}

#thumbnail{
	max-height:300px;
}

.founders_image {
	max-width: 158px;
	max-height: 200px;
}


.carousel .item > img {
	width:100%;
}

.carousel-caption {
	background-color: #0001;
	top:0;
	max-height:20px;
	font-weight: bold;
}

/* sticky footer */

footer {
	height:100px;
	background-image: -webkit-linear-gradient(bottom, #12a5f4 0%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #12a5f4 0%, white 100%);
	background-repeat: repeat-x;

	div {
		color: $gray;
		font-weight: bold;
		&:hover {
			color: $grayDarker;
		}
	}
	a {
		font-weight:bold;
	}
	/* Copyright */
	#Copyright{
		clear: both;
		text-align: center;
		font-weight: bold;
		color: $grayDarker;
		opacity:0.7;
	}

}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}


