<li style="font-weight: bold;"><%= link_to "Sign In", about_path %></li>
<li style="font-weight: bold;"><%= link_to "Sign Up", about_path %></li>
<li><div class="btn btn-warning" style="font-weight: bold;"  href="#">List Property</div></li>