<%= link_to( image_tag("estia_logo.png", size: '150x100', alt: "estia"), root_path) %>
<ul class="nav pull-right">
	<li> <div class="btn" style="font-weight: bold;"><%= link_to "Sign In", login_path %></div></li>
	<li> <div class="btn" style="font-weight: bold;"><%= link_to "Sign Up", signup_path %></div></li>
	<li><div class="btn btn-warning" style="font-weight: bold;"  href="#">List Property</div></li>
</ul>