<%= link_to image_tag("estia_logo.png", :class => 'header_logo', :border => 0), root_path %>
<ul class="nav pull-right">
	<a class="btn nav-button" href="sessions/new">Sign In</a>
	<a class="btn btn-primary nav-button" href="users/new">Sign Up</a>
	<a class="btn btn-warning nav-button" href="users/new">List Property</a>
</ul>
