<%= link_to( image_tag("estia_logo_color.png", size: '90x100', alt: "estia"), root_path) %>
<ul class="nav pull-right">
	<li style="font-weight: bold;"><%= link_to "Sign In", login_path %></li>
	<li style="font-weight: bold;"><%= link_to "Sign Up", signup_path %></li>
	<li><div class="btn btn-warning" style="font-weight: bold;"  href="#">List Property</div></li>
</ul>