<div class="navbar navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
				<% if current_user %>
				<%= render 'layouts/signed_in_header'%>
				<% else %>
				<%= render 'layouts/default_header'%>
				<% end %>
		</div>
	</div>
</div>
