<header class="navbar navbar-static-top">
	<div class="navbar-inner">
			<% if signed_in %>
			<%= render 'layouts/signed_in_header'%>
			<% else %>
			<%= render 'layouts/default_header'%>
			<% end %>
	</div>
</header>
