<header class="navbar navbar-static-top">
	<div class="navbar-inner" >
			<%= link_to( image_tag("estia_logo_color.png", size: '90x100', alt: "SORRY >.<"), root_path) %>
			<ul class="nav pull-right">
				
				<%= render 'layouts/default_header'%>
				
			</ul>
	</div>
</header>
