<header class="navbar navbar-static-top">
	<div class="navbar-inner" >
		<ul class="nav" style="float: left;">
			
			<li class="offset2 span5"><%= image_tag("estia6.JPG", size: "100x100", alt: "SORRY >.<") %></li>
			
			
			<li><a href="#">Sign In</a></li>
			<li><a href="#">Sign Up</a></li>
			<li><a class="btn" href="#">List Property</a></li>
		</ul>

	</div>
</header>
	