<header class="navbar navbar-static-top">
	<div class="navbar-inner">
		<ul class="nav" style="float: left;">
			<li><%= link_to "Estia", root_path, id: "logo" %></li>
			<li><a href="#">Sign In</a></li>
			<li><a href="#">Sign Up</a></li>
			<li><a class="btn" href="#">List Property</a></li>
		</ul>

	</div>
</header>
	