<li style="font-weight: bold; color: grey; padding-top: 10px;"><%= current_user.email%> </li>
<li style="font-weight: bold;"><%= link_to "Log Out", logout_path %></li>
<li><div class="btn btn-warning" style="font-weight: bold;"  href="#">List Property</div></li>